.user_details {
  opacity: 0;
}

.custom_card.card {
  border: 2px solid aliceblue;
}

.custom_card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all .3s ease;
  border: 0;
}

.custom_card:hover .user_details {
  opacity: 1;
}
